body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
}

.card {
  background-color: #6b705c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  padding-bottom: 25%;
  position: relative;
  cursor: pointer;
}

.card.open {
  background-color: #ffe8d6;
}

.card-text {
  display: none;
  position: absolute;
  font-size: 2em;
}

.card.open .card-text {
  display: block;
}
